<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FITHA DASHBOARD</title>
    <link rel="stylesheet" href="/static/style/tailwindout.css">
</head>
<body class="bg-[#D3D3D3] flex flex-col justify-start items-center h-screen">
    <div class="items-center bg-[#F2F2F2] min-w-[70vw] mt-[3vw] py-[0.5vw] px-[2vw] rounded-t-[2vw] sm:py-[0.5vh] md:mt-[1vh]">
        <h1 class="oswald-semibold text-[6vw] md:text-[6vh] text-[#313131]">FITHA DASHBOARD</h1>
    </div>
    <div class="flex flex-col-reverse justify-start items-center bg-[#F2F2F2] mt-[3vh] max-w-[70vw] min-w-[70vw] min-h-[70vw] max-h-[70vw] sm:min-h-[50vh] sm:max-h-[50vh] lg:min-h-[60vh] lg:max-h-[60vh] overflow-hidden">
        <div class="flex bg-[#456AFF] py-[0] px-[0.5vw] my-0 max-w-full min-w-full max-h-1/8 min-h-1/8 sm:max-h-1/6 sm:min-h-1/6 lg:max-h-1/8 lg:min-h-1/8 items-center">
            <h4 class="oswald-regular text-[5vw] md:text-[5vh]">CAM</h4>
        </div>
        <div class="max-w-full min-w-full max-h-7/8 min-h-7/8 sm:max-h-5/6 sm:min-h-5/6 lg:max-h-7/8 lg:min-h-7/8 flex justify-center items-center">
            <img id="cam-placeholder-img" class="h-[10vh] w-[10vh]" src="/static/img/CamOffIcon.png" alt="CamPlaceholder">
            <img id="cam-img" class="min-w-full min-h-full max-h-full" src="/static/img/CamImg2.jpeg" alt="CamImage">
        </div>
    </div>
    <div class="block md:flex md:justify-between md:items-center mt-[3vh] min-w-[70vw] max-h-[40vh] min-h-[30vh] md:max-h-[50vh]">
        <div class="flex flex-col-reverse justify-between items-center bg-[#F2F2F2] min-w-[70vw] max-h-[70vw] md:h-full md:min-w-[48.3%]">
            <div class=" flex items-center bg-[#4B4B4B] py-[0] px-[0.5vw] max-w-full min-w-full max-h-1/8 min-h-1/8 sm:max-h-1/5 md:min-h-1/5">
                <h4 class="oswald-regular text-[5vw] md:text-[5vh]">SMOKE</h4>
            </div>
            <h2 class="oswald-regular text-[#4B4B4B] text-[14vw] sm:text-[10vw] md:text-[10vh]" id="smoke-value">load...</h2>
            <div class="flex py-[0.5vh] px-[0.5vw] w-full flex-row-reverse">
                <img id="smoke-symbol" class ="h-[7vw] w-[7vw] sm:h-[5vw] sm:w-[5vw] md:h-[4vh] md:w-[4vh]" src="/static/img/ModerateSymbol.png" alt="value-condition-moderate">
            </div>
        </div>
        <div class="flex flex-col-reverse justify-between items-center bg-[#F2F2F2] min-w-[70vw] max-h-[70vw] md:h-full md:min-w-[48.3%] mt-[3vh] md:mt-[0]">
            <div class="flex items-center bg-[#FF4545] py-[0] px-[0.5vw] max-w-full min-w-full max-h-1/8 min-h-1/8 sm:max-h-1/5 sm:min-h-1/5">
                <h4 class="oswald-regular text-[5vw] md:text-[5vh]">FIRE</h4>
            </div>
            <div class="max-w-full min-w-full max-h-7/8 min-h-7/8 sm:max-h-4/5 sm:min-h-4/5 flex justify-around items-center">
                <div id="flame-1" class="w-[7vw] h-full flex flex-col-reverse justify-between items-center pb-[4vh] pt-[0.5vh]">
                    <h2 class="oswald-regular text-[#FF4545] my-[0] text-[7vw] sm:text-[5vw] md:text-[4vh]" id="flame-value-1">load...</h2>
                    <h2 class="oswald-regular text-[#FF4545] mb-[0] mt-[0.5vh] text-[7vw] sm:text-[5vw] md:text-[4vh]">#1</h2>
                    <img id="flame-symbol-1" class ="h-[7vw] w-[7vw] sm:h-[5vw] sm:w-[5vw] md:h-[4vh] md:w-[4vh]" src="/static/img/ModerateSymbol.png" alt="value-condition-moderate">
                </div>
                <div id="flame-2" class="w-[7vw] h-full flex flex-col-reverse justify-between items-center pb-[4vh] pt-[0.5vh]">
                    <h2 class="oswald-regular text-[#FF4545] my-[0] text-[7vw] sm:text-[5vw] md:text-[4vh]" id="flame-value-2">load...</h2>
                    <h2 class="oswald-regular text-[#FF4545] mb-[0] mt-[0.5vh] text-[7vw] sm:text-[5vw] md:text-[4vh]">#2</h2>
                    <img id="flame-symbol-2" class ="h-[7vw] w-[7vw] sm:h-[5vw] sm:w-[5vw] md:h-[4vh] md:w-[4vh]" src="/static/img/ModerateSymbol.png" alt="value-condition-moderate">
                </div>
                <div id="flame-3" class="w-[7vw] h-full flex flex-col-reverse justify-between items-center pb-[4vh] pt-[0.5vh]">
                    <h2 class="oswald-regular text-[#FF4545] my-[0] text-[7vw] sm:text-[5vw] md:text-[4vh]" id="flame-value-3">load...</h2>
                    <h2 class="oswald-regular text-[#FF4545] mb-[0] mt-[0.5vh] text-[7vw] sm:text-[5vw] md:text-[4vh]">#3</h2>
                    <img id="flame-symbol-3" class ="h-[7vw] w-[7vw] sm:h-[5vw] sm:w-[5vw] md:h-[4vh] md:w-[4vh]" src="/static/img/ModerateSymbol.png" alt="value-condition-moderate">
                </div>
                <div id="flame-4" class="w-[7vw] h-full flex flex-col-reverse justify-between items-center pb-[4vh] pt-[0.5vh]">
                    <h2 class="oswald-regular text-[#FF4545] my-[0] text-[7vw] sm:text-[5vw] md:text-[4vh]" id="flame-value-4">load...</h2>
                    <h2 class="oswald-regular text-[#FF4545] mb-[0] mt-[0.5vh] text-[7vw] sm:text-[5vw] md:text-[4vh]">#4</h2>
                    <img id="flame-symbol-4" class ="h-[7vw] w-[7vw] sm:h-[5vw] sm:w-[5vw] md:h-[4vh] md:w-[4vh]" src="/static/img/ModerateSymbol.png" alt="value-condition-moderate">
                </div>
                <div id="flame-5" class="w-[7vw] h-full flex flex-col-reverse justify-between items-center pb-[4vh] pt-[0.5vh]">
                    <h2 class="oswald-regular text-[#FF4545] my-[0] text-[7vw] sm:text-[5vw] md:text-[4vh]" id="flame-value-5">load...</h2>
                    <h2 class="oswald-regular text-[#FF4545] mb-[0] mt-[0.5vh] text-[7vw] sm:text-[5vw] md:text-[4vh]">#5</h2>
                    <img id="flame-symbol-5" class ="h-[7vw] w-[7vw] sm:h-[5vw] sm:w-[5vw] md:h-[4vh] md:w-[4vh]" src="/static/img/ModerateSymbol.png" alt="value-condition-moderate">
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/interactive.js"></script>
</body>
</html>